body{
   background: url('../img/04.jpg')  0 -90px/cover no-repeat fixed;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

@media (min-height: 716px) {
   body{
      background: url('../img/04.jpg')  0 0/100% 100% no-repeat fixed;
   }
}


.wrapper{
   margin: 0 auto;
   margin-top: 100px;
   max-width: 1600px;
   
   background-color: rgb(255, 255, 255);
   border-radius: 25px;
   padding: 20px;
   padding-top: 30px;
}

@media (max-width: 630px){
   .wrapper{
      margin: 0 auto;
      margin-top: 50px;
      border-radius: 5px;
      padding: 2px;
      padding-top: 3px;
   }
}

.header{
   display: flex;
   align-items: center;
   margin-bottom: 30px;
   font-size: 18px;
}
.header-img{
   margin-right: 10px;
}
.line{
   height: 1px;
   width: 100%;
   border-bottom: 1px solid rgb(181, 182, 184);
   margin-bottom: 20px;
}

.content{
   font-size: 16px;
}
.text{
   display: flex;
}
@media (max-width: 630px){
   .text{
      display: block;
   }
}


.text-img{
   margin-left: 20px;
}
.text-img-img{
   height: 50px;
}


.forms-item{
   display: flex;
   align-items: center;
}

input{
   width: 30px;
   height: 30px;
   margin-right: 10px;
   text-align: center; 
   background-color: rgb(247, 245, 245);
   border-color: rgb(184, 184, 184);
   border-radius: 5px;
   
}

input:hover {
   box-shadow: 2px 2px 5px 1px rgba(30, 30, 31, 0.2);
}

input:focus {
   border-color: rgb(255, 103, 15);
   box-shadow: 2px 2px 5px 1px rgba(30, 30, 31, 0.2);
}

button{
   margin-top: 20px;
   margin-bottom: 10px;
   background-color: rgb(247, 245, 245);
   border-color: rgb(184, 184, 184);
   width: 100px;
   height: 35px;
   text-align: center; 
   border-radius: 5px;
   margin-right: 10px;
}
.button{
   display: flex;
   text-align: center;
   align-items: center;
}
button:hover {
   box-shadow: 2px 2px 5px 1px rgba(65, 65, 65, 0.2);
   background-color: rgb(128, 127, 127);
   color: aliceblue;
   border-color: rgb(165, 165, 165);
}

button:active {
   border-color: rgb(0, 0, 0);
   background-color: rgb(255, 255, 255);
   color: #000;
}